<div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 mx-auto"></div>
      <div class="col-lg-4 col-md-4 col-sm-4 mx-auto">
        <a href="/summaryList"><img src="shoppingicon.png" alt="logo" class="img-fluid mx-auto"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mx-auto"></div>
    </div>
  <div class="container-fluid" id="listDisplay">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <form style="font-size: 3rem !important; margin-left: auto !important; margin-right: auto !important;">
            <select id="listchooser" name="listChoice">
              <option selected value="miscChoice">Misc. Items</option>
              <option value="bathroomChoice">Bathroom Items</option>
              <option value="fruitChoice" class="fruitChoiceClass">Fruit & Veg</option>
              <option value="fridgeChoice">Fridge Items</option>
              <option value="freezerChoice">Freezer Items</option>
              <option value="bakingChoice">Baking Items</option>
            </select>  
            <input class="inputSystem" type="text" placeholder="Write product here" name="item" required>
              <button class="inputSystem"></button>Add to List</button>
          </form>
      </div>
    </div>